/palindrome/nbproject/private/
/palindrome/build/
/prime/nbproject/private/
/prime/build/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/max_val_of_exp_by_adding_parentheses/nbproject/private/
/max_val_of_exp_by_adding_parentheses/build/
/TCS_ninja_2018/nbproject/private/
/TCS_ninja_2018/build/
/static_variables/nbproject/private/
/static_variables/build/
/Call_Main_By_User/nbproject/private/
/Call_Main_By_User/build/
/Non_Static_Blocks/nbproject/private/
/Non_Static_Blocks/build/